<div class="panel panel-info" id="welcome-index">
  <div class="panel-heading"><h1>Welcome to RequestTrap</h1></div>
  <div class="panel-body" id="welcome-panel">
    <p>
      Request trap is an app that catches and logs requests made to <code>/{path_of_your_choice}</code>,
      which can be displayed on <code>/{path_of_your_choice}/requests</code>.
    </p>
    <p>
      Each request has a unique id and can be viewed
      via <code>/{path_of_your_choice}/requests/:id</code>
    </p>
    <p>
      Also, <code>/{path_of_your_choice}/requests</code> has live reloading. Therefore, if you
      make an additional request to <code>/{path_of_your_choice}</code>, it will be displayed in
      real-time on the <code>/{path_of_your_choice}/requests</code> page.
    </p>
  </div>
</div>
