.hidden {
  display: none;
}
.title {
  font-weight: bold;
}
.info {
  overflow:auto;
  border: black solid 0.5px;
  padding: 5px;
  min-height: 30px;
  display: block;
  color: green;
  background: white;
}
body.container {
  background: lightgray;
}
